
<h1>WELCOME TO MY PORTFOLIO</h1>
<p>I am a professional developer I do a lot of professional stuff professionally. </p>
<div>
    <%= link_to "About Me", about_path %>
</div>
<div>
    <%= link_to "My Work", work_path %>
</div>
<div>
    <%= link_to "Contact Me", contact_path %>
</div>