<h1> My Previous Work </h1>
<%= image_tag @work_image, class: 'work-image' %>
<p> This is me working on my *insert project* as mentioned in my about section, it was a major sucess and won me many prizes </p>